@use '../../styles/variaveis' as *;

.s_navbar {
    background-color: $corDescricao;
    z-index: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    max-width: 100vw; 
   

    @include mq('md') {
        display: block;
        text-align: center;
        width: 100%; 
    }
}

.imgDiv {

    &__img {
        height: 20rem;
        padding: 0.25rem;
        margin-top: 80px;
        margin-left: -100px; 
        width: 100%; 


        @media screen and (max-width: 300px) {
            height: 2.5rem;
            
        }
    }
}

.items {
    @include descricao($corPreto, 500);
    margin-left: 1rem;
    margin-top: 15rem;

    @include mq('md') {
        display: none;
    }
}