@use '../../styles/variaveis' as *;

.s_sobre {
    background-color: #793D24;
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 20px;
}

.titulo {
    @include tituloSecao($corDescricao);
    margin-bottom: 0.2rem; 
}

.subtitulo {
    color: #F0EBE6; 
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.8rem; 
}

.image {
    height: 40rem;
    border-radius: 4rem;
    margin-left: 4rem;

    @include mq('lg') {
        display: none;
    }

    @include mq('xl') {
        margin-left: 3.5rem;
        height: 30rem;
    }
}

.desc {
    @include descricao($corDescricao);
    font-size: 1.4rem; 
    line-height: 1.5; 
}
